/* Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fdf8ed;
  transition: all 0.3s ease;
}
/* MAIN CONTAINER */
.dashboard {
  padding: 10px;
}

/* Header */
.top-bar {
  background-color: #f9f6ea;
  border-bottom: 5px solid #dcdcdc;
  color: #4b6c2a;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-title {
  display: flex;
  align-items: center;
  margin-left: 0px;
  
  
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  
  
}

.logo {
  height: 70px;
  width: auto;
  border-radius: 0%;
  object-fit: contain;
  margin: -14px -50px 0px -50px

  
}
.profile-icon {
  margin: 1%;
  height: 40px;
  border-radius: 50%;
  background:#f5f5f5;
  padding: 5px;
  
  
}
.logo-title h2 {
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #4b6c2a;
  align-items: center;
}

.top-actions {
  display: flex;
  align-items: center;
  gap:45px;
  object-fit: contain;
  
  /*gap: 45px;
  height: 70px;
  width: auto;
  border-radius: 0%;
  object-fit: contain;*/
}

.icon-link {
  display: inline-block;
}
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  background-color: #f5f5f5;
  
}
.icon-btn:hover {
  background: #f5f5f5;
}

/* Main */
.settings-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}
.settings-container h1 {
  margin-bottom: 15px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.card h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.icon {
  margin-right: 5px;
}

/* Form */
.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-row label {
  margin-bottom: 5px;
  font-weight: 600;
}
input, select {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
}


/* Buttons */
.btn {
  background: #4b6c2a;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background: #3b561f;
}
.save-btn {
  display: block;
  width: 100%;
  margin-top: 15px;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: #4b6c2a;
}
input:checked + .slider:before {
  transform: translateX(22px);
}


